<h1>Celine Qin’s Calm Quokka &#128151; ITIS 3135</h1>

        <nav>
            <a href="./">Home</a>
            &nbsp;&#128151;&nbsp;
            <a href="introduction.html">Introduction</a>
            &nbsp;&#128151;&nbsp;
            <a href="contract.html">Contract</a>
            &nbsp;&#128151;&nbsp;
            <a href="tables.html">Tables</a>
            &nbsp;&#128151;&nbsp;
            <a href="forms.html">Forms</a>
            &nbsp;&#128151;&nbsp;
            <a href="website_evaluations.html">Website Evaluations</a>
            <!-- &nbsp;&#128151;&nbsp; -->
            <!-- <a href="firstscripts.html">First Scripts</a>
            &nbsp;&#128151;&nbsp;
            <a href="byo_intro.html">BYO Intro</a> -->
            &nbsp;&#128151;&nbsp;
            <a href="about.html">About</a>
            <!-- &nbsp;&#128151;&nbsp;
            <a href="arrays.html">Arrays</a> -->
            &nbsp;&#128151;&nbsp;
            <a href="project_overview.html">Project Overview</a>
            &nbsp;&#128151;&nbsp;
            <a href="review.html">Review</a>
            <!-- &nbsp;&#128151;&nbsp;
            <a href="review2.html">Review 2</a> -->

        </nav>

        <nav>
            <a href="https://webpages.charlotte.edu/xqin1/itis3135/stuff/zJ C740$AXIN.htm" target="_blank">CRAPPY</a>
            💜
            <a href="https://webpages.charlotte.edu/xqin1/itis3135/hobby/" target="_blank">Hobby</a>
            💜
            <a href="https://webpages.charlotte.edu/xqin1/itis3135/project/" target="_blank">Project</a>
            
        </nav>

        <h2>Clam Quokka Meets Joy!</h2>